body{
    background-color: #1D4221;
    color: white;
    font-family: "Anton", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;

}

button{
    background-color: rgb(12, 119, 9);
    font-family: "Anton", sans-serif;
    color: white;
}

.passo{
    display: none;
}

.passo.ativo{
    display: block;
}

main{
    max-width: 90%;
    text-align: center;
}

img{
    max-width: 80%;
}